/*Title stuff*/
.TitleStuff{
    width :100%;
    margin: auto;
    text-align: center;
    background-color: rgb(129, 211, 195);
    color: rgb(255, 255, 255);
    padding: 10px 10px;
}
h1{
    font-size: 30px;
    font-weight: 650;
}
/*Quarter 1 thingyh*/
.uno{
    text-align: center;
    color: rgb(160, 160, 160);
    padding: 20px 20px;
    margin: auto;
}
.barthing{
    padding: 7px 7px;
}
.nothing{
    font-weight: 550;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 125px;
    text-align: center;
    color: rgb(160, 160, 160);
}
.dos{
    text-align: center;
    color: rgb(160, 160, 160);
    padding: 20px 20px;
    margin: auto;
}

hr{
    height:2px;
    border-width:0;
    color:rgb(160, 160, 160);
    background-color:rgb(160, 160, 160);
    width: 50%;
    margin: auto;
}

p{
    font-size: 25px;
    font-weight: 800;
}


/*Quarter 2*/
.iconcede{
    text-align: center;
}

.iconcede li{
    margin: 30px;
}


/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(0, 128, 96);
  cursor: pointer;
  display: inline-block;
  font-family: ''Montserrat', sans-serif';
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: center;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 144, 0.35) 0 -25px 18px -14px inset,rgba(44, 187, 144, 0.25) 0 1px 2px,rgba(44, 187, 151, 0.25) 0 2px 4px,rgba(44, 187, 144, 0.25) 0 4px 8px,rgba(44, 187, 144, 0.25) 0 8px 16px,rgba(44, 187, 168, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}